/* Tambahkan kode CSS kalian di file ini */
:root {
  --primary: #ffffff;
  --bg: #333333;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--bg);
  color: #ffffff;
  /* min-height: 2000px; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7%;
  background-color: var(--bg);
  border-bottom: 1px solid rgb(9, 8, 8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.logo {
  width: 180px;
  cursor: pointer;
}

nav .navMenu {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(32, 53, 71); */
}

nav .navMenu a {
  color: rgb(130, 130, 130);
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  margin: 0.1rem;
}

nav .navMenu a:hover {
  color: #ffffff;
  font-size: 1.2rem;
  border-bottom: 1px solid white;
}

nav .nav-search a {
  color: rgb(130, 130, 130);
}

nav .nav-search a:hover {
  color: rgb(255, 255, 255);
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(https://i.postimg.cc/dQSh2Syc/hero-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 10%,
    rgba(225, 225, 225, 0) 90%
  );
}

main {
  width: 50vw;
  height: 30vh;
  margin: 50px;
  display: flexbox;
  line-height: 30px;
  justify-content: space-between;
  /* background-color: aqua; */
}

main h1 {
  font-weight: 600;
  font-size: 20pt;
  font-size: 4rem;
  padding: 30px 0;
}

main h1 span {
  color: rgb(30, 30, 30);
}

main .CTA {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #d05d5d;
  border-radius: 8px;
  cursor: pointer;
}

.about {
  min-height: 100vh;
  padding: 5rem 7% 1.4rem;
  color: black;
  display: flex;
  background-color: rgb(255, 255, 255);
}

.about .gambar {
  /* background-color: aqua; */
  display: flex;
  margin: 30px;
}

.about .tentang {
  width: 800px;
  /* background-color: darkslategray; */
  /* display: grid; */
  margin: 60px 50px;
  line-height: 30px;
  text-align: justify;
}

.about .gambar .gambar1 {
  width: 350px;
  height: 500px;
}

.about .gambar .gambar2 {
  width: 150px;
  height: 300px;
}

.about .tentang h3 {
  padding: 20px 0;
  /* background-color: aqua; */
}

.about .tentang h1 {
  padding-bottom: 20px;
  font-size: 28pt;
  /* background-color: aqua; */
}

.about .tentang .lengkap {
  margin-top: 0.5rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #d05d5d;
  border-radius: 8px;
  cursor: pointer;
}

.form-daftar {
  min-height: 100vh;
  padding: 5rem 7% 1.4rem;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

form {
  width: 700px;
  padding: 30px;
  align-self: center;
  /* display:; */
  justify-content: center;
  color: black;
  /* background-color: aquamarine; */
}

.form-daftar h2 {
  color: black;
  padding-top: 20px;
  align-self: center;
}

/* .form-daftar .form .data {
  width: 100%;
  padding-bottom: 10px;
  line-height: 30px;
  height: 70vh;
  background-color: #d05d5d;
} */

.form-daftar .form .input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  text-indent: 10px;
  border: 1px solid black;
}

label {
  font-size: 10pt;
}

button {
  width: 150px;
  height: 30px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #d05d5d;
  cursor: pointer;
  font-size: 14pt;
  font-weight: 700;
  color: #ffffff;
  margin-left: 35%;
}

footer {
  display: flexbox;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer .tentang {
  width: 450px;
  height: 200px;
  margin: 30px;
  text-align: left;
  /* background-color: beige; */
}

.footer .contact {
  width: 500px;
  height: 200px;
  display: grid;
  margin: 30px;
  text-align: left;
  /* background-color: aquamarine; */
}

.footer .contact a {
  color: #ffffff;
}

.footer .social {
  width: 50px;
  height: 100px;
  margin: 30px;
  justify-content: center;
  display: flexbox;
  line-height: 30px;
}

.footer .social a:hover {
  color: black;
}

.footer .social a {
  padding: 30px;
  color: #ffffff;
}

footer .credit {
  padding: 20px;
  width: 100%;
  border-top: 1px solid white;
}

footer .credit a {
  color: #ffffff;
}
